<div class="p-3">
  <div class="bg-light border p-3">
    <div class="d-flex">
      <h2 class="mb-0 flex-fill">Property Details</h2>
      <button class="btn btn-info" (click)="goBack()">Back</button>
      <button class="btn btn-primary mx-2" routerLink="/rental-admin-save" *ngIf="adminProperty">Edit</button>
    </div>
    <hr class="mb-4 mt-2">
    <div class="d-flex flex-wrap">
      <ngb-carousel *ngIf="images" class="bg-dark text-center mb-3" style="width: 40rem; height: 32rem;">
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="picsum-img-wrapper h-100">
          <img [src]="image">
        </div>
      </ng-template>
      </ngb-carousel>
      <div class="p-4 flex-fill">
        <h1>{{ property.unitAddress }}</h1>
        <h4>{{ property.unitCity }}, {{ property.unitState }} {{ property.unitZip }}</h4>
        <h4>{{ property.unitCountry }}</h4>
        <br>
        <h5>Rent Amount:</h5>
        <h1>{{ property.rentAmount | currency }}</h1>
        <br>
        <h5>Description:</h5>
        <p style="max-width: 35rem;">{{ property.unitDescription  }}</p>
      </div>
    </div>
    <div class="pt-3 pb-2 pl-2">
      <h2>Property</h2>
    </div>
    <table class="table table-striped mb-4">
      <thead>
        <tr>
          <th>Type</th>
          <th>Square Feet</th>
          <th>Number of Bedrooms</th>
          <th>Number of Bathrooms</th>
          <th>Washer/Dryer</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ property.unitType }}</td>
          <td>{{ property.unitSquareFeet }}</td>
          <td>{{ property.unitNumBedrooms }}</td>
          <td>{{ property.unitNumBathrooms }}</td>
          <td>{{ property.unitWasherDryer }}</td>
        </tr>
      </tbody>  
    </table>
    <div class="pt-3 pb-2 pl-2">
      <h2>Utilities</h2>
    </div>
    <table class="table table-striped mb-4">
      <thead>
        <tr>
          <th>Electricity</th>
          <th>Water/Sewage</th>
          <th>Heat</th>
          <th>Air Conditioning</th>
          <th>Trash/Recycling</th>
          <th>Wifi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ property.unitElectric }}</td>
          <td>{{ property.unitWaterSewage }}</td>
          <td>{{ property.unitHeat }}</td>
          <td>{{ property.unitAC }}</td>
          <td>{{ property.unitTrashRecycle }}</td>
          <td>{{ property.unitWifi }}</td>
        </tr>
      </tbody>  
    </table>
    <div class="pt-3 pb-2 pl-2" *ngIf="!adminProperty">
      <h2>Owner</h2>
    </div>
    <table class="table table-striped mb-4" *ngIf="!adminProperty">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Full Address</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ adminInfo.firstName }}</td>
        <td>{{ adminInfo.lastName }}</td>
        <td>{{ adminInfo.rentalUser.email }}</td>
        <td>{{ adminInfo.address }} {{ adminInfo.city }}, {{ adminInfo.state }} {{ adminInfo.zip }}</td>
        <td>{{ adminInfo.phoneNumber }}</td>
      </tr>
    </tbody>  
    </table>
    <div class="d-flex justify-content-center p-3" *ngIf="!adminProperty">
      <button class="btn btn-primary">Submit a Rental Application</button> 
    </div>
  </div>
</div>
