#logo-div {
  width: 25rem;
  height: 20rem;
  background-image: url("/assets/logo.svg");
  background-size: 25rem; 
  background-image: center; 
}

li {
  list-style-type: none;
  width: 26rem;
  cursor: pointer;
}
