<header class="bg-light border-bottom d-flex">
  <div class="flex-fill d-flex">
    <h4 class="mb-3 mt-4 mx-2" routerLink="/landing">Home Rentals</h4>
  </div>
  <div class="mt-3 mb-2 mx-3" ngbDropdown *ngIf="!ls.isLoggedIn()">
    <button class="btn" type="button" routerLink="/register">Register</button>
    <button class="btn" type="button" routerLink="/login">Login</button>
  </div>
  <div class="mx-1" style="margin-top: 1.25rem;" *ngIf="ls.isLoggedIn()">
    <button class="btn" type="button" id="properties">
      Applications
    </button>
  </div>
  <div class="mx-1" style="margin-top: 1.25rem;" *ngIf="ls.isAdmin()">
    <button class="btn" type="button" id="properties" routerLink="/rental-admin">
      Properties
    </button>
  </div>
  <div class="mx-1" style="margin-top: 1.25rem;" ngbDropdown *ngIf="ls.isLoggedIn()">
    <button class="btn dropdown-toggle" type="button" id="loginButton" ngbDropdownToggle>
      Information
    </button>
    <div ngbDropdownMenu aria-labelledby="loginButton">
      <a ngbDropdownItem routerLink="/personal-info">Personal</a>
      <a ngbDropdownItem routerLink="/spouse-info">Spouse</a>
      <a ngbDropdownItem routerLink="/vehicle-info">Vehicle</a>
      <a ngbDropdownItem routerLink="/bank-info">Bank</a>
      <a ngbDropdownItem routerLink="/reference-info">Reference</a>
      <a ngbDropdownItem routerLink="/other-info">Other</a>
    </div>
  </div>
  <div class="mt-3 mb-2 ml-1 mr-3" ngbDropdown *ngIf="ls.isLoggedIn()">
    <button class="btn dropdown-toggle" type="button" id="loginButton" ngbDropdownToggle>
      <img id="user" src="/assets/person-circle.svg">
    </button>
    <div ngbDropdownMenu aria-labelledby="loginButton">
      <p ngbDropdownItem class="mb-1" disabled>{{ ls.getLoggedInUser().email }} ({{ ls.getLoggedInUser().isAdmin | titlecase }})</p>
      <a ngbDropdownItem (click)="ls.logout()">Logout</a>
    </div>
  </div>
</header>
