<header class="bg-light border-bottom d-flex">
  <div class="flex-fill d-flex">
    <h4 class="mb-3 mt-4 mx-2" routerLink="/landing">Home Rentals</h4>
  </div>
  <div class="mt-3 mb-2 mx-3" ngbDropdown *ngIf="!ls.isLoggedIn()">
    <button class="btn" type="button" routerLink="/register">Register</button>
    <button class="btn" type="button" routerLink="/login">Login</button> 
    <!--
    <button class="btn dropdown-toggle" type="button" id="loginButton" ngbDropdownToggle>
      Login
    </button>
    <div ngbDropdownMenu aria-labelledby="loginButton">
      <a ngbDropdownItem routerLink="/login-user">User Login</a>
      <a ngbDropdownItem routerLink="/login-admin">Admin Login</a>
    </div> 
    -->
  </div>
  <h6 class="mt-3 mb-2 mx-3" ngbDropdown *ngIf="ls.isLoggedIn()">
    <button class="btn dropdown-toggle" type="button" id="loginButton" ngbDropdownToggle>
      <img src="/assets/person-circle.svg"> 
    </button>
    <div ngbDropdownMenu aria-labelledby="loginButton">
      <p ngbDropdownItem class="mb-1" disabled>{{ ls.getLoggedInUser().email }}</p>
      <a ngbDropdownItem routerLink="/personal-info">Profile</a>
      <a ngbDropdownItem (click)="ls.logout()">Logout</a>
    </div>
  </h6>
</header>
