<div class="p-4">
    <div class="border p-3">
        <h4 class="ml-2 mt-2">Applications</h4>
        <hr class="mt-0 mb-3">
        <ul class="flex-fill d-flex p-2 mx-0 mt-0 mb-4 flex-wrap">
            <li class="text-center bg-light border p-2 m-2">
              <div id="logo-div"></div>
              <h5 class="m-3">Date Applied: {{"09-01-2020"|date}} </h5>
              <h4 class="m-0">31 Lane Eve</h4> 
              <h4 class="m-0">Memphis, TN</h4>
              <h4 class="m-0">56400</h4>
              <br>
              <h4 class="m-0">Owner: Jordan Parker</h4>
              <h4 class="m-0">Rent: $1200/month</h4>
              <br>
              <h3>Status: Pending Approval</h3>
              <br>
            </li>
          </ul>     
    </div>
</div>

