<div class="d-flex justify-content-center py-4 px-2">
  <div class="border p-3">
    <div class="text-center">
      <h3 class="mb-3">Personal Information</h3>
    </div>
    <h4 class="mt-3 ml-3">About</h4>
    <hr class="m-1">
    <div class="d-flex flex-wrap ">
      <div class="p-3">
        <h6 class="font-weight-bold">First Name</h6>
        <input type="text" [(ngModel)]="personalInfo.firstName" class="mb-3 p-2" size="40" />
      </div>
      <div class="p-3">
        <h6 class="font-weight-bold">Last Name</h6>
        <input type="text" [(ngModel)]="personalInfo.lastName" class="mb-3 p-2" size="40" />
      </div>
    </div>
    <div class="d-flex flex-wrap ">
      <div class="p-3">
        <h6 class="font-weight-bold">Date of Birth</h6>
        <input type="date" [(ngModel)]="personalInfo.dateOfBirth" class="mb-3 p-2" size="40" />
      </div>
    </div>
    <h4 class="mt-3 ml-3">Address</h4>
    <hr class="mt-1 mb-3">
    <div class="d-flex flex-wrap ">
      <div class="p-3">
        <h6 class="font-weight-bold">Address</h6>
        <input type="text" [(ngModel)]="personalInfo.address" class="mb-3 p-2" size="65" />
      </div>
    </div>
    <div class="d-flex flex-wrap ">
      <div class="p-3">
        <h6 class="font-weight-bold">City</h6>
        <input type="text" [(ngModel)]="personalInfo.city" class="mb-3 p-2" size="30" />
      </div>
      <div class="p-3">
        <h6 class="font-weight-bold">State</h6>
        <input type="text" [(ngModel)]="personalInfo.state" class="mb-3 p-2" size="30" />
      </div>
    </div>
    <div class="d-flex flex-wrap ">
      <div class="p-3">
        <h6 class="font-weight-bold">Zip Code</h6>
        <input type="text" [(ngModel)]="personalInfo.zip" class="mb-3 p-2" size="30" />
      </div>
      <div class="p-3">
        <h6 class="font-weight-bold">Phone Number</h6>
        <input type="tel" [(ngModel)]="personalInfo.phoneNumber" class="mb-3 p-2" size="30" />
      </div>
    </div>
    <h4 class="mt-3 ml-3">Identification</h4>
    <hr class="mt-1 mb-3">
    <div class="d-flex flex-wrap ">
      <div class="p-3">
        <h6 class="font-weight-bold">Drivers License</h6>
        <div class="mb-3 p-2">
          <input [(ngModel)]="personalInfo.driverLicense" size="30" appPassword />
        </div>
      </div>
      <div class="p-3">
        <h6 class="font-weight-bold">SSN</h6>
        <div class="mb-3 p-2">
          <input [(ngModel)]="personalInfo.ssn" size="30" appPassword />
        </div>
      </div>
    </div>
    <hr class="mt-3 mb-5">
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary" style="width: 80%;" (click)="submitPersonalInfo()">Save Profile Information</button>
    </div>
  </div>
</div>
